.cart__container {
  width: 100%;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.cart__container > h1 {
  align-self: flex-start;
}

.cart__products {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 2px solid rgb(127, 127, 200);
  padding-bottom: 20px;
}

.totale {
  display: flex;
  align-items: flex-end;
  gap: 50px;
}

.totale > h3 {
  font-size: 30px;
  color: #5b0888;
}

.totale > h4 {
  font-size: 25px;
  color: #877b7b;
}

.cart__wrapper {
  width: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.cart__wrapper > h2 {
  font-size: 40px;

  color: #111;
}

.shop__now {
  all: unset;

  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  padding: 12px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.shop__now::after,
.shop__now::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.shop__now::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;

  border-radius: 5px;
}

.shop__now::after {
  transform: translate(10px, 10px);
  width: 30px;
  height: 30px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50%;
}

.shop__now:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.shop__now:hover::after {
  border-radius: 5px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.shop__now:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

@media (max-width: 950px) {
  .cart__container > h1 {
    font-size: 30px;
  }

  .totale > h3 {
    font-size: 26px;
  }

  .totale > h4 {
    font-size: 23px;
  }
}

@media (max-width: 700px) {
  .cart__wrapper > h2 {
    font-size: 32px;
  }

  .shop__now {
    font-size: 15px;

    padding: 11px 24px;
  }
}

@media (max-width: 500px) {
  .cart__container {
    gap: 30px;
  }

  .cart__container > h1 {
    font-size: 26px;
  }

  .totale {
    gap: 20px;
  }

  .totale > h3 {
    font-size: 22px;
  }

  .totale > h4 {
    font-size: 19px;
  }
}

@media (max-width: 400px) {
  .cart__products {
    gap: 25px;
  }

  .cart__wrapper > h2 {
    font-size: 28px;
  }

  .shop__now {
    font-size: 14px;

    padding: 10px 23px;
  }
}

@media (max-width: 370px) {
  .cart__container {
    padding: 40px 30px;
  }
}
