.success {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(23, 189, 78, 0.8);
  color: #fff;
  font-family: "PT Serif";
  font-size: 15px;
  text-align: center;
  transition: all 200ms ease;
}

.contacterror {
  width: 100%;

  padding: 10px;
  border-radius: 5px;
  background-color: rgba(245, 31, 31, 0.8);
  color: #fff;
  font-family: "PT Serif";
  font-size: 16px;

  text-align: center;

  transition: all 200ms ease;
}

.contactscreen {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__form {
  width: 50%;
  min-height: 76%;
  z-index: 10;

  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  align-items: center;
  gap: 30px;
  border-radius: 15px;
  background-color: rgb(127, 127, 200, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
}

.contact__form > h1 {
  font-family: "PT Serif";
  font-size: 40px;
  color: #fff;
}

.contact__inputs {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.name__email {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.contact__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.contact__input > h2 {
  font-family: "PT Serif";
  font-weight: 600;
  font-size: 17px;
  color: #111;
}

.contact__input > input {
  padding: 12px 14px;
  font-family: "PT Serif";
  background-color: rgb(234, 224, 224, 0.5);
  border-radius: 4px;
  width: 100%;
  border: 1px solid #fff;
}

.contact__input > textarea {
  padding: 12px 14px;
  font-family: "PT Serif";
  background-color: rgb(234, 224, 224, 0.5);
  border-radius: 4px;
  width: 100%;
  border: 1px solid #fff;
}

.contact__input > span {
  font-family: "PT Serif";
  font-size: 12px;
  color: #5b0888;
  display: flex;
  align-items: center;
}

.point {
  color: red;
  font-size: 20px;
}

.contact__inputs > button {
  width: 20%;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  font-family: "PT Serif";
  font-size: 17px;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: rgb(127, 127, 200);
  color: #111;
  font-weight: 600;
  letter-spacing: 1.1px;
  cursor: pointer;
  transition: all 100ms ease;
}

.contact__inputs > button:hover {
  background-color: #fff;
}

@media (max-width: 1300px) {
  .contact__form {
    width: 60%;
  }
}

@media (max-width: 1090px) {
  .contactscreen {
    padding: 30px 0;
  }

  .contact__form {
    width: 70%;
  }
}

@media (max-width: 930px) {
  .contact__form > h1 {
    font-size: 30px;
  }

  .name__email {
    gap: 17px;
  }

  .contact__input > h2 {
    font-size: 17px;
  }

  .contact__input > input {
    padding: 10px 12px;
  }

  .contact__input > textarea {
    padding: 10px 12px;
  }

  .contact__inputs > button {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .contact__form {
    width: 90%;
  }

  .contact__inputs > button {
    width: 35%;
  }
}

@media (max-width: 600px) {
  .contact__form {
    width: 80%;
    padding: 20px 30px;
  }

  .name__email {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .contact__form {
    width: 90%;
    padding: 20px;
    gap: 20px;
  }

  .success {
    padding: 8px;

    font-size: 13px;
  }

  .contacterror {
    padding: 8px;

    font-size: 14px;
  }
}

@media (max-width: 410px) {
  .contact__form > h1 {
    font-size: 28px;
  }

  .name__email {
    gap: 16px;
  }

  .contact__input > h2 {
    font-size: 15px;
  }

  .contact__input > input {
    padding: 8px 10px;
  }

  .contact__input > textarea {
    padding: 8px 10px;
  }

  .contact__inputs > button {
    font-size: 14px;
  }
}
