.home {
  width: 100%;
}

.home__second {
  width: 100%;

  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.second__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.topProducts {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px 100px;
}

.topProducts > h2 {
  font-size: 34px;
}

.topProducts__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 1200px) {
  .square {
    flex-flow: row wrap;
    justify-content: center;
  }
}

@media (max-width: 1070px) {
  .topProducts {
    gap: 20px;
    padding: 30px 50px;
  }
}

@media (max-width: 850px) {
  .home__second {
    padding: 40px 50px;

    gap: 30px;
  }

  .topProducts > h2 {
    font-size: 30px;
  }
}

@media (max-width: 650px) {
  .circle {
    flex-flow: row wrap;
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .topProducts {
    gap: 18px;
    padding: 30px;
  }
}
