.productinfo__container {
  width: 60%;
  height: 55vh;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 60px;
  position: relative;
  padding: 20px 40px;
}

.feedback {
  width: 60%;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: rgb(127, 127, 200, 0.5);
  color: #111;
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.productinfo__container > button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 101;
  background-color: transparent;
}

.xmark {
  color: #111;
  font-size: 30px;
  cursor: pointer;
  transition: all 200ms ease;
}

.xmark:hover {
  transform: scale(1.2);
}

.image__container {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image__container > img {
  width: 100%;
  object-fit: contain;
  align-self: center;
}

.prod__quantity {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.prod__quantity > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgb(127, 127, 200);
  border-radius: 8px;
  cursor: pointer;
}

.prod__quantity > button:hover {
  background-color: #d7d1d1;
}

.prod__quantity > span {
  font-size: 24px;
  background-color: #fff;
  color: #111;
}

.plus,
.minus {
  font-size: 20px;
  color: #fff;
  transition: all 200ms ease;
}

.plus:hover,
.minus:hover {
  color: #111;
}

.prod__info {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}

.prod__info > p {
  color: #877b7b;
}

.prod__info > button {
  background-color: #111;
  color: #fff;
  padding: 10px 20px;
  transition: all 200ms ease;
  cursor: pointer;
  justify-self: flex-end;
}

.prod__info > button:hover {
  background-color: rgb(127, 127, 200);
  color: #111;
}

@media (max-width: 1200px) {
  .productinfo__container {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .productinfo__container {
    width: 80%;
  }
}

@media (max-width: 840px) {
  .productinfo__container {
    width: 90%;
    height: 58vh;
  }
}

@media (max-width: 780px) {
  .productinfo__container {
    gap: 20px;
    padding: 20px;
  }

  .prod__info {
    gap: 12px;
  }

  .prod__info > h2 {
    font-size: 20px;
  }

  .prod__info > p {
    font-size: 15px;
  }

  .prod__info > button {
    padding: 8px 18px;
  }

  .prod__info > h3 {
    font-size: 18px;
  }

  .prod__quantity > button {
    padding: 7px;

    border-radius: 6px;
  }

  .prod__quantity > span {
    font-size: 20px;
  }

  .plus,
  .minus {
    font-size: 18px;
  }
}

@media (max-width: 780px) {
  .prod__info {
    gap: 8px;
  }

  .prod__info > h2 {
    font-size: 18px;
  }

  .prod__info > p {
    font-size: 13px;
  }

  .prod__info > button {
    padding: 6px 16px;
  }

  .prod__info > h3 {
    font-size: 16px;
  }

  .prod__quantity > button {
    padding: 6px;

    border-radius: 4px;
  }

  .prod__quantity > span {
    font-size: 18px;
  }

  .plus,
  .minus {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .image__container {
    min-width: 155px;
  }
}

@media (max-width: 500px) {
  .productinfo__container {
    flex-direction: column;
    justify-content: center;
    height: 90%;
    gap: 40px;
    border-radius: 10px;
  }

  .prod__info {
    width: 100%;
  }

  .prod__info > button {
    align-self: flex-end;
  }
}
