.productinfo__container {
  width: 60%;
  height: 55vh;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 60px;
  position: relative;
  padding: 20px 40px;
}

.feedback {
  width: 60%;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: rgb(127, 127, 200, 0.5);
  color: #111;
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.productinfo__container > h1 {
  color: #111;
}

.productinfo__container > button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 101;
  background-color: transparent;
}

.xmark {
  color: #111;
  font-size: 30px;
  cursor: pointer;
  transition: all 200ms ease;
}

.xmark:hover {
  transform: scale(1.2);
}

.image__container {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image__container > img {
  width: 100%;
  object-fit: contain;
  align-self: center;
}

.prod__quantity {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.prod__quantity > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgb(127, 127, 200);
  border-radius: 8px;
  cursor: pointer;
}

.prod__quantity > button:hover {
  background-color: #d7d1d1;
}

.prod__quantity > span {
  font-size: 24px;
  background-color: #fff;
  color: #111;
}

.plus,
.minus {
  font-size: 20px;
  color: #fff;
  transition: all 200ms ease;
}

.plus:hover,
.minus:hover {
  color: #111;
}

.prod__info {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}

.prod__info > p {
  color: #877b7b;
}

.prod__info > button {
  background-color: #111;
  color: #fff;
  padding: 10px 20px;
  transition: all 200ms ease;
  cursor: pointer;
  justify-self: flex-end;
}

.prod__info > button:hover {
  background-color: rgb(127, 127, 200);
  color: #111;
}
