.shop {
  width: 100%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.shop > h1 {
  font-size: 40px;
}

.shop__content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.shop__categories {
  width: 10%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.shop__categories > h3 {
  font-size: 25px;
  font-weight: 600;
}

.shop__categories > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shop__categories > ul > li > button {
  background-color: transparent;
  color: #111;
  font-weight: 600;
  cursor: pointer;

  transition: all 200ms ease;
}

.shop__categories > ul > li > button:hover {
  transform: scale(1.2);
  color: rgb(127, 127, 200);
}

.active {
  transform: scale(1.4);
  color: #5b0888 !important;
}

.shop__products {
  width: 90%;
  padding: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 40px;
}

.shop__empty {
  width: 90%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop__empty > h3 {
  font-size: 25px;
  color: #5b0888;
}

@media (max-width: 1120px) {
  .shop {
    align-items: center;
  }

  .shop__products {
    gap: 25px;
  }

  .shop__content {
    flex-direction: column;
    gap: 30px;
  }

  .shop__categories {
    width: 100%;

    flex-direction: row;
    align-items: flex-end;
    gap: 30px;
  }

  .shop__categories > ul {
    flex-direction: row;
    gap: 20px;
  }

  .active {
    transform: scale(1.2);
  }

  .shop__products {
    width: 100%;
    padding: 0 30px;
  }

  .shop__empty {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .shop__empty > h3 {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .shop {
    gap: 30px;
  }

  .shop > h1 {
    font-size: 35px;
  }

  .shop__categories > h3 {
    font-size: 22px;
  }

  .shop__categories {
    align-items: flex-start;
  }

  .shop__categories > ul {
    flex-flow: row wrap;
    row-gap: 10px;
  }

  .shop__categories > ul > li > button {
    max-width: 88px;
    min-width: 65px;
  }
}

@media (max-width: 550px) {
  .shop__categories {
    align-items: center;
    gap: 20px;
  }

  .shop__categories > ul {
    justify-content: center;
  }

  .shop__products {
    justify-content: center;
  }

  .shop__empty > h3 {
    font-size: 18px;
    max-width: 200px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .shop {
    gap: 20px;
  }

  .shop__categories {
    flex-direction: column;
  }

  .shop > h1 {
    font-size: 28px;
  }

  .shop__categories > h3 {
    font-size: 19px;
  }
}
