.authscreen__right {
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  padding: 30px 60px;
  overflow-y: scroll;
}

.authscreen__right > h2 {
  width: 70%;
  font-size: 30px;
  text-align: center;
}

.authscreen__right > h2 > span {
  color: rgb(127, 127, 200);
}

.authscreen__inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input__wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input__wrapper > span {
  font-weight: 600;
}

.input {
  width: 96%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: flex-end;
}

.input > input {
  padding: 10px 15px;
  width: 100%;
  font-size: 16px;
  background-color: rgb(234, 224, 224, 0.5);
  border: 1px solid #bcb6b6;
  border-radius: 4px;
  color: #5b0888;
}

.input__wrapper > button {
  padding: 10px;
  background-color: rgb(127, 127, 200);
  color: #fff;
  width: 96%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: all 200ms ease;
}

.input__wrapper > button:hover {
  background-color: #111;
}

.input__error {
  color: red;
  font-weight: none;
  font-size: 15px;
}

.autherror {
  width: 96%;
  color: red;
  padding: 8px;
  border-radius: 4px;
  font-size: 13px;
  background-color: rgb(127, 127, 200, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  text-align: center;
}

.login__signup {
  display: flex;
  align-items: center;
  gap: 5px;
}

.login__signup > span {
  color: #726f6f;
  font-size: 17px;
}

.login__signup > button {
  color: rgb(127, 127, 200);
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
  background-color: transparent;
}

@media (max-width: 1350px) {
  .authscreen__right > h2 {
    font-size: 28px;
    line-height: 1.1;
  }

  .input__wrapper {
    gap: 4px;
  }

  .input__wrapper > span {
    font-size: 15px;
  }

  .input {
    gap: 3px;
  }

  .input > input {
    padding: 9px 14px;

    font-size: 15px;
  }

  .input__wrapper > button {
    padding: 9px;

    font-size: 17px;
  }

  .input__error {
    font-size: 14px;
  }

  .autherror {
    padding: 7px;

    font-size: 12px !important;
  }

  .login__signup {
    gap: 4px;
  }

  .login__signup > span {
    font-size: 16px;
  }

  .login__signup > button {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .authscreen__right {
    padding: 10px 30px;
  }
}

@media (max-width: 1050px) {
  .authscreen__right > h2 {
    width: 80%;
  }

  .input__wrapper {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .authscreen__right {
    align-items: center;
  }

  .authscreen__right > h2 {
    width: 100%;
  }

  .authscreen__inputs {
    gap: 7px;
  }

  .input__wrapper {
    width: 100%;
    gap: 0;
  }

  .input__wrapper > span {
    font-size: 14px;
  }

  .authscreen__right > h2 {
    font-size: 23px;
  }

  .input > input {
    padding: 8px 12px;

    font-size: 15px;
  }

  .input__wrapper > button {
    padding: 8px;

    font-size: 16px;
  }

  .input__error {
    font-size: 13px;
  }

  .autherror {
    padding: 4px;

    font-size: 12px !important;
    margin-top: 10px;
  }

  .login__signup > span {
    font-size: 15px;
  }

  .login__signup > button {
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  .authscreen__right {
    width: 100%;
    height: 72%;
    padding: 30px;
    gap: 25px;
  }

  .authscreen__inputs {
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    column-gap: 10px;
    row-gap: 30px;
  }

  .input__wrapper {
    width: 45%;
  }

  .login__signup {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .authscreen__right {
    padding: 30px 15px;
  }
}

@media (max-width: 570px) {
  .authscreen__right {
    padding: 30px 15px 15px;
    gap: 20px;
  }

  .authscreen__inputs {
    row-gap: 12px;
  }

  .authscreen__right > h2 {
    font-size: 20px;
  }

  .input__wrapper {
    width: 70%;
  }

  .input > input {
    padding: 6px 10px;

    font-size: 13px;
  }

  .input__wrapper > button {
    padding: 6px;

    font-size: 14px;
  }

  .input__error {
    font-size: 12px;
  }

  .autherror {
    padding: 4px;

    font-size: 11px !important;
    margin-top: 8px;
  }

  .login__signup > span {
    font-size: 13px;
  }

  .login__signup > button {
    font-size: 13px;
  }
}
