.banner {
  width: 100%;
  padding: 40px 200px;
  display: flex;
}

.banner__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.banner__left > h1 {
  font-size: 70px;

  line-height: 1.2;
}

.banner__left > button {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgb(127, 127, 200);
  color: #fff;
  font-size: 17px;

  border-radius: 4px;
  cursor: pointer;
  transition: all 200ms ease;
}

.arrow {
  font-size: 22px;
}

.banner__right {
  width: 50%;
}

.banner__right > img {
  width: 100%;
  object-fit: contain;
}

@media (max-width: 1350px) {
  .banner__left > h1 {
    font-size: 60px;

    line-height: 1.1;
  }
}

@media (max-width: 1350px) {
  .banner__left > h1 {
    font-size: 50px;
  }
}

@media (max-width: 1050px) {
  .banner {
    padding: 40px 100px;
  }
}

@media (max-width: 900px) {
  .banner__left {
    gap: 20px;
  }

  .banner__left > h1 {
    font-size: 40px;
  }

  .banner__left > button {
    padding: 8px 16px;

    gap: 6px;

    font-size: 16px;
  }

  .arrow {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .banner {
    padding: 40px 50px;
  }

  .banner__left > h1 {
    font-size: 33px;
  }
}

@media (max-width: 600px) {
  .banner__left {
    gap: 15px;
  }

  .banner__left > button {
    padding: 5px 12px;

    gap: 4px;

    font-size: 14px;
  }

  .banner__left > h1 {
    font-size: 30px;
  }

  .arrow {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .banner {
    display: none;
  }
}
